<section class="our-menu-section">
    <h2>OUR MENU</h2>
    <article class="dish">
        <img src="../../assets/img/R1.png" alt="Tonkotsu Ramen" />
        <div class="dish-info">
            <h3>Tonkotsu Ramen</h3>
            <p>
                CHICKEN 11.95€<br />
                BEEF 12.95€<br />
                SHRIMP 13.95€
            </p>
        </div>
    </article>

    <article class="dish dish--reverse">
        <img src="../../assets/img/R2.png" alt="Spicy Miso Ramen" />
        <div class="dish-info">
            <h3>Spicy Miso Ramen</h3>
            <p>
                CHICKEN 11.95€<br />
                BEEF 12.95€<br />
                SHRIMP 13.95€
            </p>
        </div>
    </article>

    <article class="dish">
        <img src="../../assets/img/R3.png" alt="Shio Ramen" />
        <div class="dish-info">
            <h3>Shio Ramen</h3>
            <p>
                CHICKEN 11.95€<br />
                BEEF 12.95€<br />
                SHRIMP 13.95€
            </p>
        </div>
    </article>
</section>