.our-menu-section {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    padding: 120px 160px;
    background: url('../../assets/img/section_our_menu_bg.jpg') no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}


h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #9F0908;
    text-align: center;
    margin-bottom: 120px;
}

.dish {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-bottom: 80px;

    img {
        width: 352px;
        height: 352px;
        object-fit: cover;
        margin-right: 40px;
    }

    .dish-info {
        h3 {
            font-family: 'Economica', sans-serif;
            font-weight: 700;
            font-size: 56px;
            color: #000;
            margin-bottom: 8px;
        }

        p {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 32px;
            color: #675E54;
            line-height: 1.5;
        }
    }
}

.dish--reverse {
    flex-direction: row-reverse;

    img {
        margin-right: 0;
        margin-left: 40px;
    }
}