<section class="our-menu">
    <h2>HOW TO ORDER</h2>

    <div class="order-steps">
        <div class="order-step">
            <img src="./../../../assets/img/noodle.svg" alt="Pick your noodle icon" />
            <h3>Pick your noodle</h3>
        </div>

        <div class="order-step">
            <img src="./../../../assets/img/broth.svg" alt="Pick your broth icon" />
            <h3>Pick your broth</h3>
        </div>

        <div class="order-step">
            <img src="./../../../assets/img/egg.svg" alt="Add your toppings icon" />
            <h3>Add your toppings</h3>
        </div>
    </div>
</section>